{% extends  'incl/base.html' %}

{% block content %}

<h2 class="mx-4">New Question</h2>
<form>
    <div class="form-row">
        <div class="form-group col-md-6 mx-4 my-3">
            <label for="title_question" class = "my-3">Title</label>
            <input  class="form-control" id="title_question" placeholder="Enter title of your question">
        </div>

        <div class="form-group mx-4 my-3">
            <label for="TextArea" class = "my-3">Text</label>
            <textarea class="form-control" id="TextArea" rows="6"></textarea>
        </div>

        <div class="form-group col-md-6 mx-4 my-3">
            <label for="tags" class = "my-3">Tags</label>
            <input  class="form-control" id="tags" placeholder="Enter tags of your question">
        </div>
    </div>

    <button type="submit" class="btn btn-dark mx-4 my-3">Ask!</button>
</form>

{% endblock content %}

